#wrapper{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(68 117 136 / 13%);
}

/* p, h3{
    color: white;
} */

/* --------containers-----------  */

/* ---------cards--------------- */


/* -------card joueurs */



.card-header{
    font-size: larger;
}





/* joueur equipe : #6783B3  */